<!DOCTYPE html>
<html lang="ko">
  <head>
     <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banner</title>


    <link rel="stylesheet" href="./static/banner.css">

  </head>
  <body>

    <div id = "experience">

        <canvas id = "experience-canvas"></canvas>

        <!-- 하단 버튼 -->
        <div class="footer">
            <button id="go-next">대출 상담 받으러 가기  ></button>
        </div>

    </div>
    <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@v0.149.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.149.0/examples/jsm/"
      }
    }
    </script>
    <script type="module" src="./static/banner.js"></script>
  </body>
</html>
